{
  "swagger": "2.0",
  "info": {
    "description": "This API allows you to extra data out of the IFPA Database and contains information about Players, Tournaments and Rankings",
    "version": "",
    "title": "IFPA API",
    "contact": {
      "email": "ifpapinball@gmail.com"
    }
  },
  "host": "api.ifpapinball.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/director/{id}": {
      "get": {
        "tags": [
          "director"
        ],
        "summary": "Get information about Tournament Directors",
        "description": "Returns data about Tournament Directors",
        "operationId": "viewDirector",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Director",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Josh Sharpe"
                },
                "director_id": {
                  "type": "number",
                  "example": 1000
                },
                "facebook_url": {
                  "type": "string",
                  "example": "https://www.facebook.com/jsharpe"
                },
                "twitch_url": {
                  "type": "string",
                  "example": "https://www.twitch.tv/jsharpe"
                },
                "profile_photo_url": {
                  "type": "string",
                  "example": "https://www.ifpapinball.com/images/profiles/directors/1000.jpg"
                },
                "stats": {
                  "type": "object",
                  "properties": {
                    "unique_location_count": {
                      "type": "number",
                      "example": 1
                    },
                    "women_tournament_count": {
                      "type": "number",
                      "example": 2
                    },
                    "league_count": {
                      "type": "number",
                      "example": 3
                    },
                    "highest_value": {
                      "type": "number",
                      "example": 141
                    },
                    "average_value": {
                      "type": "number",
                      "example": 22
                    },
                    "total_player_count": {
                      "type": "number",
                      "example": 241
                    },
                    "unique_player_count": {
                      "type": "number",
                      "example": 123
                    },
                    "first_time_player_count": {
                      "type": "number",
                      "example": 100
                    },
                    "repeat_player_count": {
                      "type": "number",
                      "example": 123
                    },
                    "largest_event_count": {
                      "type": "number",
                      "example": 210
                    },
                    "single_format_count": {
                      "type": "number",
                      "example": 10
                    },
                    "multiple_format_count": {
                      "type": "number",
                      "example": 7
                    },
                    "unknown_format_count": {
                      "type": "number",
                      "example": 21
                    },
                    "last_event_date": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "formats": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Strike Knockout"
                        },
                        "count": {
                          "type": "number",
                          "example": 15
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Director ID provided"
          },
          "404": {
            "description": "Cannot find a director with the provided ID"
          }
        }
      }
    },
    "/director/{id}/tournaments/{time_period}": {
      "get": {
        "tags": [
          "director"
        ],
        "summary": "Get information about past or future tournaments for a director",
        "description": "Get information about past or future tournaments for a director",
        "operationId": "viewDirectorTours",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the director",
            "required": true,
            "type": "number"
          },
          {
            "name": "time_period",
            "in": "path",
            "description": "Past or Future tournaments (past, future)",
            "required": true,
            "type": "string",
            "enum": [
              "PAST",
              "FUTURE"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "director_id": {
                  "type": "number",
                  "example": 1000
                },
                "tournament_count": {
                  "type": "number",
                  "example": 45
                },
                "tournaments": {
                  "type": "object",
                  "properties": {
                    "tournament_id": {
                      "type": "number",
                      "example": 15161
                    },
                    "tournament_name": {
                      "type": "string",
                      "example": "IFPA World Championships"
                    },
                    "event_name": {
                      "type": "string",
                      "example": "Main Tournament"
                    },
                    "city": {
                      "type": "string",
                      "example": "Denver"
                    },
                    "stateprov_code": {
                      "type": "string",
                      "example": "CO"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "event_start_date": {
                      "type": "string",
                      "example": "2024-05-01T00:00:00.000Z"
                    },
                    "event_end_date": {
                      "type": "string",
                      "example": "2024-05-01T00:00:00.000Z"
                    },
                    "player_count": {
                      "type": "number",
                      "example": 80
                    },
                    "qualifying_format": {
                      "type": "string",
                      "example": "Matchplay"
                    },
                    "finals_format": {
                      "type": "string",
                      "example": "Single Elimination"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Director ID provided"
          },
          "404": {
            "description": "Cannot find a director with the provided ID"
          }
        }
      }
    },
    "/director/country": {
      "get": {
        "tags": [
          "director"
        ],
        "summary": "Get a list of players who are country directors for the IFPA",
        "description": "Get a list of players who are country directors for the IFPA",
        "operationId": "viewCountryDirectors",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "count": {
                  "type": "number",
                  "example": 22
                },
                "country_directors": {
                  "type": "object",
                  "properties": {
                    "player_profile": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "name": {
                          "type": "string",
                          "example": "Josh Sharpe"
                        },
                        "country_code": {
                          "type": "string",
                          "example": "US"
                        },
                        "country_name": {
                          "type": "string",
                          "example": "United States"
                        },
                        "profile_photo": {
                          "type": "string",
                          "example": "https://www.ifpapinball.com/images/profiles/player/4.jpg"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/director/search": {
      "get": {
        "tags": [
          "director"
        ],
        "summary": "Search for Directors by Name",
        "description": "Search for Directors by Name",
        "operationId": "searchDirectors",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the Director (not case sensitive)",
            "required": false,
            "type": "string"
          },
          {
            "name": "count",
            "in": "query",
            "description": "Number of results to return (default = 50)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "search_term": {
                  "type": "string",
                  "example": "sharpe"
                },
                "count": {
                  "type": "number",
                  "example": 22
                },
                "directors": {
                  "type": "object",
                  "properties": {
                    "director_id": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "Josh Sharpe"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "event_count": {
                          "type": "number",
                          "example": 5
                        },
                        "unique_player_count": {
                          "type": "number",
                          "example": 125
                        },
                        "total_player_count": {
                          "type": "string",
                          "example": 456
                        },
                        "last_event_date": {
                          "type": "string",
                          "example": "2024-01-01T00:00:00.000Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/other/countries": {
      "get": {
        "tags": [
          "other"
        ],
        "summary": "Get a list of Countries that can referenced by IFPA data",
        "description": "Get a list of Countries that can referenced by IFPA data",
        "operationId": "otherCountries",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "country_id": {
                  "type": "number",
                  "example": 168
                },
                "country_name": {
                  "type": "string",
                  "example": "United States"
                },
                "country_code": {
                  "type": "string",
                  "example": "US"
                },
                "active_flag": {
                  "type": "string",
                  "example": "Y"
                }
              }
            }
          }
        }
      }
    },
    "/other/stateprovs": {
      "get": {
        "tags": [
          "other"
        ],
        "summary": "Get a list of States and Provinces that can referenced by IFPA data",
        "description": "Get a list of States and Provinces that can referenced by IFPA data  (US, Canada and Australia only)",
        "operationId": "otherStateProv",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "country_id": {
                  "type": "number",
                  "example": 168
                },
                "country_name": {
                  "type": "string",
                  "example": "United States"
                },
                "country_code": {
                  "type": "string",
                  "example": "US"
                },
                "regions": {
                  "type": "object",
                  "properties": {
                    "region_name": {
                      "type": "string",
                      "example": "Ohio"
                    },
                    "region_code": {
                      "type": "string",
                      "example": "OH"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/player": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get Player Information for Multiple Players",
        "description": "Returns information on the player based on the IDs provide (limit 50)",
        "operationId": "viewPlayerMulti",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "players",
            "in": "query",
            "description": "ID of the players, comma delimited",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "player": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 50
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Josh"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Sharpe"
                    },
                    "initials": {
                      "type": "string",
                      "example": "JLS"
                    },
                    "excluded_flag": {
                      "type": "boolean"
                    },
                    "age": {
                      "type": "number",
                      "example": 48
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United Stated"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "ifpa_registered": {
                      "type": "boolean",
                      "example": true
                    },
                    "womens_flag": {
                      "type": "boolean",
                      "example": false
                    },
                    "profile_photo": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/images/profile/players/4.jpg"
                    },
                    "matchplay_events": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "example": 1234
                        },
                        "rating": {
                          "type": "number",
                          "example": 4567
                        },
                        "rank": {
                          "type": "number",
                          "example": 45
                        }
                      }
                    },
                    "player_stats": {
                      "type": "object",
                      "properties": {
                        "system": {
                          "type": "object",
                          "properties": {
                            "MAIN": {
                              "type": "object",
                              "properties": {
                                "current_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "last_month_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "last_year_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "highest_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "current_points": {
                                  "type": "number",
                                  "example": 1234.11
                                },
                                "all_time_points": {
                                  "type": "number",
                                  "example": 2456.44
                                },
                                "active_points": {
                                  "type": "number",
                                  "example": 1123.33
                                },
                                "inactive_points": {
                                  "type": "number",
                                  "example": 2101.22
                                },
                                "best_finish": {
                                  "type": "number",
                                  "example": 1
                                },
                                "best_finish_count": {
                                  "type": "number",
                                  "example": 10
                                },
                                "average_finish": {
                                  "type": "number",
                                  "example": 11
                                },
                                "average_finish_last_year": {
                                  "type": "number",
                                  "example": 15
                                },
                                "total_events_all_time": {
                                  "type": "number",
                                  "example": 123
                                },
                                "total_active_events": {
                                  "type": "number",
                                  "example": 451
                                },
                                "total_events_away": {
                                  "type": "number",
                                  "example": 15
                                },
                                "total_wins_last_3_years": {
                                  "type": "number",
                                  "example": 4
                                },
                                "top_3_last_3_years": {
                                  "type": "number",
                                  "example": 14
                                },
                                "top_10_last_3_years": {
                                  "type": "number",
                                  "example": 15
                                },
                                "ratings_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "ratings_value": {
                                  "type": "number",
                                  "example": 1511.15
                                },
                                "efficiency_rank": {
                                  "type": "number",
                                  "example": 171
                                },
                                "efficiency_value": {
                                  "type": "number",
                                  "example": 56.76
                                }
                              }
                            },
                            "WOMEN": {
                              "type": "object",
                              "properties": {
                                "current_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "last_month_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "last_year_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "highest_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "current_points": {
                                  "type": "number",
                                  "example": 1234.11
                                },
                                "all_time_points": {
                                  "type": "number",
                                  "example": 2456.44
                                },
                                "active_points": {
                                  "type": "number",
                                  "example": 1123.33
                                },
                                "inactive_points": {
                                  "type": "number",
                                  "example": 2101.22
                                },
                                "best_finish": {
                                  "type": "number",
                                  "example": 1
                                },
                                "best_finish_count": {
                                  "type": "number",
                                  "example": 10
                                },
                                "average_finish": {
                                  "type": "number",
                                  "example": 11
                                },
                                "average_finish_last_year": {
                                  "type": "number",
                                  "example": 15
                                },
                                "total_events_all_time": {
                                  "type": "number",
                                  "example": 123
                                },
                                "total_active_events": {
                                  "type": "number",
                                  "example": 451
                                },
                                "total_events_away": {
                                  "type": "number",
                                  "example": 15
                                },
                                "total_wins_last_3_years": {
                                  "type": "number",
                                  "example": 4
                                },
                                "top_3_last_3_years": {
                                  "type": "number",
                                  "example": 14
                                },
                                "top_10_last_3_years": {
                                  "type": "number",
                                  "example": 15
                                },
                                "ratings_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "ratings_value": {
                                  "type": "number",
                                  "example": 1511.15
                                },
                                "efficiency_rank": {
                                  "type": "number",
                                  "example": 171
                                },
                                "efficiency_value": {
                                  "type": "number",
                                  "example": 56.76
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "series": {
                      "type": "object",
                      "properties": {
                        "series_code": {
                          "type": "string",
                          "example": "NACS"
                        },
                        "region_code": {
                          "type": "string",
                          "example": "OH"
                        },
                        "year": {
                          "type": "number",
                          "example": 2024
                        },
                        "total_points": {
                          "type": "number",
                          "example": 123.45
                        },
                        "series_rank": {
                          "type": "number",
                          "example": 16
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/player/{id}": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get Player Information",
        "description": "Returns information on the player based on the ID Provided",
        "operationId": "viewPlayer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the player",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "player": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 50
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Josh"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Sharpe"
                    },
                    "initials": {
                      "type": "string",
                      "example": "JLS"
                    },
                    "excluded_flag": {
                      "type": "boolean"
                    },
                    "age": {
                      "type": "number",
                      "example": 48
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United Stated"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "ifpa_registered": {
                      "type": "boolean",
                      "example": true
                    },
                    "womens_flag": {
                      "type": "boolean",
                      "example": true
                    },
                    "profile_photo": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/images/profile/players/4.jpg"
                    },
                    "matchplay_events": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number",
                          "example": 1234
                        },
                        "rating": {
                          "type": "number",
                          "example": 4567
                        },
                        "rank": {
                          "type": "number",
                          "example": 45
                        }
                      }
                    },
                    "player_stats": {
                      "type": "object",
                      "properties": {
                        "system": {
                          "type": "object",
                          "properties": {
                            "MAIN": {
                              "type": "object",
                              "properties": {
                                "current_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "last_month_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "last_year_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "highest_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "current_points": {
                                  "type": "number",
                                  "example": 1234.11
                                },
                                "all_time_points": {
                                  "type": "number",
                                  "example": 2456.44
                                },
                                "active_points": {
                                  "type": "number",
                                  "example": 1123.33
                                },
                                "inactive_points": {
                                  "type": "number",
                                  "example": 2101.22
                                },
                                "best_finish": {
                                  "type": "number",
                                  "example": 1
                                },
                                "best_finish_count": {
                                  "type": "number",
                                  "example": 10
                                },
                                "average_finish": {
                                  "type": "number",
                                  "example": 11
                                },
                                "average_finish_last_year": {
                                  "type": "number",
                                  "example": 15
                                },
                                "total_events_all_time": {
                                  "type": "number",
                                  "example": 123
                                },
                                "total_active_events": {
                                  "type": "number",
                                  "example": 451
                                },
                                "total_events_away": {
                                  "type": "number",
                                  "example": 15
                                },
                                "total_wins_last_3_years": {
                                  "type": "number",
                                  "example": 4
                                },
                                "top_3_last_3_years": {
                                  "type": "number",
                                  "example": 14
                                },
                                "top_10_last_3_years": {
                                  "type": "number",
                                  "example": 15
                                },
                                "ratings_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "ratings_value": {
                                  "type": "number",
                                  "example": 1511.15
                                },
                                "efficiency_rank": {
                                  "type": "number",
                                  "example": 171
                                },
                                "efficiency_value": {
                                  "type": "number",
                                  "example": 56.76
                                }
                              }
                            },
                            "WOMEN": {
                              "type": "object",
                              "properties": {
                                "current_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "last_month_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "last_year_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "highest_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "current_points": {
                                  "type": "number",
                                  "example": 1234.11
                                },
                                "all_time_points": {
                                  "type": "number",
                                  "example": 2456.44
                                },
                                "active_points": {
                                  "type": "number",
                                  "example": 1123.33
                                },
                                "inactive_points": {
                                  "type": "number",
                                  "example": 2101.22
                                },
                                "best_finish": {
                                  "type": "number",
                                  "example": 1
                                },
                                "best_finish_count": {
                                  "type": "number",
                                  "example": 10
                                },
                                "average_finish": {
                                  "type": "number",
                                  "example": 11
                                },
                                "average_finish_last_year": {
                                  "type": "number",
                                  "example": 15
                                },
                                "total_events_all_time": {
                                  "type": "number",
                                  "example": 123
                                },
                                "total_active_events": {
                                  "type": "number",
                                  "example": 451
                                },
                                "total_events_away": {
                                  "type": "number",
                                  "example": 15
                                },
                                "total_wins_last_3_years": {
                                  "type": "number",
                                  "example": 4
                                },
                                "top_3_last_3_years": {
                                  "type": "number",
                                  "example": 14
                                },
                                "top_10_last_3_years": {
                                  "type": "number",
                                  "example": 15
                                },
                                "ratings_rank": {
                                  "type": "number",
                                  "example": 25
                                },
                                "ratings_value": {
                                  "type": "number",
                                  "example": 1511.15
                                },
                                "efficiency_rank": {
                                  "type": "number",
                                  "example": 171
                                },
                                "efficiency_value": {
                                  "type": "number",
                                  "example": 56.76
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "series": {
                      "type": "object",
                      "properties": {
                        "series_code": {
                          "type": "string",
                          "example": "NACS"
                        },
                        "region_code": {
                          "type": "string",
                          "example": "OH"
                        },
                        "year": {
                          "type": "number",
                          "example": 2024
                        },
                        "total_points": {
                          "type": "number",
                          "example": 123.45
                        },
                        "series_rank": {
                          "type": "number",
                          "example": 16
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/player/{id}/pvp": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get High Level PVP Information",
        "description": "Returns PVP records against other players",
        "operationId": "viewPlayerPVP",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the player",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "player_id": {
                  "type": "number",
                  "example": 4
                },
                "total_competitors": {
                  "type": "number",
                  "example": 1011
                },
                "system": {
                  "type": "string",
                  "example": "MAIN"
                },
                "pvp": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 7
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Zach"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Sharpe"
                    },
                    "win_count": {
                      "type": "number",
                      "example": 150
                    },
                    "loss_count": {
                      "type": "number",
                      "example": 150
                    },
                    "tie_count": {
                      "type": "number",
                      "example": 150
                    },
                    "current_rank": {
                      "type": "number",
                      "example": 12
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Player ID provided"
          },
          "404": {
            "description": "Cannot find a player with the provided ID"
          }
        }
      }
    },
    "/player/{id}/pvp/{id2}": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get High Level PVP Information",
        "description": "Returns PVP records against other players",
        "operationId": "viewPlayerPVPToPlayer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the 1st player to compare",
            "required": true,
            "type": "number"
          },
          {
            "name": "id2",
            "in": "path",
            "description": "ID of the 2nd player to compare",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "player_1": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Josh"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Sharpe"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "excluded_flag": {
                      "type": "boolean",
                      "example": true
                    },
                    "profile_photo": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/images/profiles/player/4.jpg"
                    }
                  }
                },
                "player_2": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 8
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Zach"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Sharpe"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "excluded_flag": {
                      "type": "boolean",
                      "example": true
                    },
                    "profile_photo": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/images/profiles/player/8.jpg"
                    }
                  }
                },
                "pvp": {
                  "type": "object",
                  "properties": {
                    "tournament_name": {
                      "type": "string",
                      "example": "IFPA World Pinball Championships"
                    },
                    "event_name": {
                      "type": "string",
                      "example": "Main Tournament"
                    },
                    "tournament_id": {
                      "type": "number",
                      "example": 1001
                    },
                    "event_end_date": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "finish_position": {
                      "type": "object",
                      "properties": {
                        "player_1": {
                          "type": "number",
                          "example": 4
                        },
                        "player_2": {
                          "type": "number",
                          "example": 5
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Player ID provided"
          },
          "404": {
            "description": "Cannot find a player with the provided ID"
          }
        }
      }
    },
    "/player/{id}/rank_history": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Gets ranking and rating history for the player",
        "description": "Returns ranking and rating history for the player",
        "operationId": "viewPlayerRankHistory",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the player",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "player_id": {
                  "type": "number",
                  "example": 4
                },
                "system": {
                  "type": "string",
                  "example": "MAIN"
                },
                "active_flag": {
                  "type": "boolean",
                  "example": true
                },
                "rank_history": {
                  "type": "object",
                  "properties": {
                    "rank_date": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "rank_postiion": {
                      "type": "number",
                      "example": 15
                    },
                    "wppr_points": {
                      "type": "number",
                      "example": 1551.11
                    },
                    "tournaments_played_count": {
                      "type": "number",
                      "example": 2
                    }
                  }
                },
                "rating_history": {
                  "type": "object",
                  "properties": {
                    "rating_date": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "rating": {
                      "type": "number",
                      "example": 1561.55
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Player ID provided"
          },
          "404": {
            "description": "Cannot find a player with the provided ID"
          }
        }
      }
    },
    "/player/{id}/results/{ranking_system}/{type}": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Get tournament results for a player",
        "description": "Returns tournament results for a player based on the ranking system provided (main, women, youth)",
        "operationId": "viewPlayerActiveResults",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the player",
            "required": true,
            "type": "number"
          },
          {
            "name": "ranking_system",
            "in": "path",
            "description": "ranking system",
            "required": true,
            "type": "string",
            "enum": [
              "MAIN",
              "WOMEN",
              "YOUTH"
            ]
          },
          {
            "name": "type",
            "in": "path",
            "description": "type of result. active, nonactive, inactive",
            "required": true,
            "type": "string",
            "enum": [
              "ACTIVE",
              "NONACTIVE",
              "INACTIVE"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "player_id": {
                  "type": "number",
                  "example": 4
                },
                "results_type": {
                  "type": "string",
                  "example": "ACTIVE"
                },
                "results_count": {
                  "type": "number",
                  "example": 15
                },
                "system": {
                  "type": "string",
                  "example": "MAIN"
                },
                "results": {
                  "type": "object",
                  "properties": {
                    "tournament_name": {
                      "type": "string",
                      "example": "IFPA World Pinball Championships"
                    },
                    "tournament_id": {
                      "type": "number",
                      "example": 1001
                    },
                    "event_name": {
                      "type": "string",
                      "example": "Main Tournament"
                    },
                    "event_date": {
                      "type": "string",
                      "example": "2024-01-01T00:00:00.000Z"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "position": {
                      "type": "number",
                      "example": 2
                    },
                    "original_points": {
                      "type": "number",
                      "example": 123.45
                    },
                    "current_points": {
                      "type": "number",
                      "example": 75.15
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Player ID or Rank System provided"
          },
          "404": {
            "description": "Cannot find player or ranking system data"
          }
        }
      }
    },
    "/player/search": {
      "get": {
        "tags": [
          "player"
        ],
        "summary": "Search for players",
        "description": "Returns a list of players based on specific criteria",
        "operationId": "searchPlayers",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Name of the player (not case sensitive)",
            "required": false,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Name or 2-digit code",
            "required": false,
            "type": "string"
          },
          {
            "name": "stateprov",
            "in": "query",
            "description": "2 digit State or Providence Code",
            "required": false,
            "type": "string"
          },
          {
            "name": "tournament",
            "in": "query",
            "description": "Name of tournament that a player may have played in. Partial Strings are accepted",
            "required": false,
            "type": "string"
          },
          {
            "name": "tourpos",
            "in": "query",
            "description": "The position the player finished in",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "count": {
                  "type": "number"
                },
                "filter": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Sharpe"
                    },
                    "country": {
                      "type": "string",
                      "example": "US"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "tournament": {
                      "type": "string",
                      "example": "PAPA"
                    },
                    "tournament_position": {
                      "type": "number",
                      "example": 1
                    },
                    "include_unranked": {
                      "type": "string",
                      "example": "Y"
                    }
                  }
                },
                "results": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "first_name": {
                      "type": "string",
                      "example": "Josh"
                    },
                    "last_name": {
                      "type": "string",
                      "example": "Sharpe"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "wppr_rank": {
                      "type": "number",
                      "example": 10
                    },
                    "rating_value": {
                      "type": "number",
                      "example": 1234.56
                    },
                    "profile_photo_url": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/images/profile/players/4.jpg"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Search Criteria provided"
          },
          "404": {
            "description": "No results found"
          }
        }
      }
    },
    "/rankings/youth": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking of Players who are under the age of 18",
        "description": "Ranking of Players who are under the age of 18",
        "operationId": "rankingYouth",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "required": false,
            "type": "number"
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "ranking_type": {
                  "type": "string",
                  "example": "youth"
                },
                "start_position": {
                  "type": "number",
                  "example": 1
                },
                "return_count": {
                  "type": "number",
                  "example": 50
                },
                "total_count": {
                  "type": "number",
                  "example": 1561
                },
                "rankings": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "Joshie Sharpe"
                    },
                    "age": {
                      "type": "number",
                      "example": 13
                    },
                    "profile_photo_url": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "wppr_points": {
                      "type": "number",
                      "example": 1710.11
                    },
                    "current_wppr_rank": {
                      "type": "number",
                      "example": 25
                    },
                    "current_rank": {
                      "type": "number",
                      "example": 15
                    },
                    "last_month_rank": {
                      "type": "number",
                      "example": 16
                    },
                    "rating_value": {
                      "type": "number",
                      "example": 2311
                    },
                    "rating_deviation": {
                      "type": "number",
                      "example": 161
                    },
                    "efficiency_percent": {
                      "type": "number",
                      "example": 68.1
                    },
                    "event_count": {
                      "type": "number",
                      "example": 151
                    },
                    "best_finish": {
                      "type": "number",
                      "example": 1
                    },
                    "best_finish_position": {
                      "type": "number",
                      "example": 1
                    },
                    "best_tournament_id": {
                      "type": "number",
                      "example": 15611
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/wppr": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking of Players who play in tournamented submitted to the WPPR System",
        "description": "Ranking of Players who play in tournamented submitted to the WPPR System",
        "operationId": "rankingWppr",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "required": false,
            "type": "number"
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "ranking_type": {
                  "type": "string",
                  "example": "youth"
                },
                "start_position": {
                  "type": "number",
                  "example": 1
                },
                "return_count": {
                  "type": "number",
                  "example": 50
                },
                "total_count": {
                  "type": "number",
                  "example": 1561
                },
                "sort_order": {
                  "type": "string",
                  "example": "wppr_points"
                },
                "rankings": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "Josh Sharpe"
                    },
                    "age": {
                      "type": "number",
                      "example": 43
                    },
                    "profile_photo_url": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "wppr_points": {
                      "type": "number",
                      "example": 1710.11
                    },
                    "current_rank": {
                      "type": "number",
                      "example": 15
                    },
                    "last_month_rank": {
                      "type": "number",
                      "example": 16
                    },
                    "rating_value": {
                      "type": "number",
                      "example": 2311
                    },
                    "rating_deviation": {
                      "type": "number",
                      "example": 161
                    },
                    "efficiency_percent": {
                      "type": "number",
                      "example": 68.1
                    },
                    "event_count": {
                      "type": "number",
                      "example": 151
                    },
                    "best_finish": {
                      "type": "number",
                      "example": 1
                    },
                    "best_finish_position": {
                      "type": "number",
                      "example": 1
                    },
                    "best_tournament_id": {
                      "type": "number",
                      "example": 15611
                    },
                    "total_wins_last_3_years": {
                      "type": "number",
                      "example": 13
                    },
                    "top_3_last_3_years": {
                      "type": "number",
                      "example": 25
                    },
                    "top_10_last_3_years": {
                      "type": "number",
                      "example": 37
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/women/{tournament_type}": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Players ranked in the Women's ranking system based on Open Events",
        "description": "RankingPlayers ranked in the Women's ranking system based on Open Events",
        "operationId": "rankingWomenOpen",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "required": false,
            "type": "number"
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "required": false,
            "type": "number"
          },
          {
            "name": "tournament_type",
            "type": "string",
            "required": true,
            "in": "path",
            "description": "The type of tournament that are used in the rankings",
            "enum": [
              "OPEN",
              "WOMEN"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "ranking_type": {
                  "type": "string",
                  "example": "women"
                },
                "tournament_type": {
                  "type": "string",
                  "example": "OPEN"
                },
                "start_pos": {
                  "type": "number",
                  "example": 1
                },
                "return_count": {
                  "type": "number",
                  "example": 50
                },
                "total_count": {
                  "type": "number",
                  "example": 1561
                },
                "rankings": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "Susan Sharpe"
                    },
                    "age": {
                      "type": "number",
                      "example": 43
                    },
                    "profile_photo": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "wppr_points": {
                      "type": "number",
                      "example": 1710.11
                    },
                    "current_rank": {
                      "type": "number",
                      "example": 15
                    },
                    "best_finish": {
                      "type": "number",
                      "example": 1
                    },
                    "best_finish_position": {
                      "type": "number",
                      "example": 1
                    },
                    "best_tournament_id": {
                      "type": "number",
                      "example": 15611
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/pro/{ranking_system}": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking Players in the Pro System",
        "description": "Ranking Players in the Pro System",
        "operationId": "rankingPro",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ranking_system",
            "in": "path",
            "description": "System to get results for (open, women)",
            "required": true,
            "type": "string",
            "enum": [
              "OPEN",
              "WOMEN"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "ranking_type": {
                  "type": "string",
                  "example": "pro"
                },
                "rankings": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "Josh Sharpe"
                    },
                    "profile_photo": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/profiles/players/134.jpg"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "current_rank": {
                      "type": "number",
                      "example": 15
                    },
                    "pro_points": {
                      "type": "number",
                      "example": 1710.11
                    },
                    "original_wppr_points": {
                      "type": "number",
                      "example": 2110.11
                    },
                    "efficiency_percent": {
                      "type": "number",
                      "example": 2110.11
                    },
                    "adj_efficiency_percent": {
                      "type": "number",
                      "example": 156.22
                    },
                    "excess_percent": {
                      "type": "number",
                      "example": 123.55
                    },
                    "wpprtunity": {
                      "type": "number",
                      "example": 2719.11
                    },
                    "wppr_adjustment": {
                      "type": "number",
                      "example": -310
                    },
                    "sos_percent": {
                      "type": "number",
                      "example": 45.18
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/country": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Ranking of Players based on the Country they are from",
        "description": "Ranking of Players based on the Country they are from",
        "operationId": "rankingCountry",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "required": false,
            "type": "number"
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "required": false,
            "type": "number"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country Name or Code to show (e.g. US, CA, NZ)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "ranking_type": {
                  "type": "string",
                  "example": "country"
                },
                "start_position": {
                  "type": "number",
                  "example": 1
                },
                "return_count": {
                  "type": "number",
                  "example": 50
                },
                "total_count": {
                  "type": "number",
                  "example": 1561
                },
                "rankings": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "Josh Sharpe"
                    },
                    "age": {
                      "type": "number",
                      "example": 43
                    },
                    "profile_photo_url": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/profiles/players/4.jpg"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "wppr_points": {
                      "type": "number",
                      "example": 1710.11
                    },
                    "current_wppr_rank": {
                      "type": "number",
                      "example": 25
                    },
                    "current_rank": {
                      "type": "number",
                      "example": 15
                    },
                    "last_month_rank": {
                      "type": "number",
                      "example": 16
                    },
                    "rating": {
                      "type": "number",
                      "example": 2311
                    },
                    "rating_deviation": {
                      "type": "number",
                      "example": 161
                    },
                    "efficiency_percent": {
                      "type": "number",
                      "example": 68.1
                    },
                    "event_count": {
                      "type": "number",
                      "example": 151
                    },
                    "best_finish": {
                      "type": "number",
                      "example": 1
                    },
                    "best_finish_position": {
                      "type": "number",
                      "example": 1
                    },
                    "best_tournament_id": {
                      "type": "number",
                      "example": 15611
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/country_list": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Get a list of Countries that currently have a ranking",
        "description": "Get a list of Countries that currently have a ranking",
        "operationId": "rankingCountryList",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "country_id": {
                  "type": "number",
                  "example": 168
                },
                "country_name": {
                  "type": "string",
                  "example": "United States"
                },
                "country_code": {
                  "type": "string",
                  "example": "US"
                },
                "player_count": {
                  "type": "number",
                  "example": 151
                }
              }
            }
          }
        }
      }
    },
    "/rankings/custom/list": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Get a list of custom rankings",
        "description": "Get a list of custom rankings",
        "operationId": "rankingCustomList",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "total_count": {
                  "type": "number",
                  "example": 15
                },
                "custom_view": {
                  "type": "object",
                  "properties": {
                    "view_id": {
                      "type": "number",
                      "example": 11
                    },
                    "title": {
                      "type": "string",
                      "example": "Rankings for 2023"
                    },
                    "description": {
                      "type": "string",
                      "example": "Description Goes Here"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rankings/custom/{id}": {
      "get": {
        "tags": [
          "rankings"
        ],
        "summary": "Get data for a specific custom ranking",
        "description": "Get data for a specific custom ranking",
        "operationId": "rankingCustomID",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID for the custom ranking",
            "required": true,
            "type": "number"
          },
          {
            "name": "start_pos",
            "in": "query",
            "description": "Starting Position within results (for pagination)",
            "required": false,
            "type": "number"
          },
          {
            "name": "count",
            "in": "query",
            "description": "How many Results to return",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "view_id": {
                  "type": "number",
                  "example": 15
                },
                "title": {
                  "type": "string",
                  "example": "Rankings for 2023"
                },
                "description": {
                  "type": "string",
                  "example": "Description goes Here"
                },
                "start_position": {
                  "type": "number",
                  "example": 1
                },
                "return_count": {
                  "type": "number",
                  "example": 50
                },
                "total_count": {
                  "type": "number",
                  "example": 250
                },
                "custom_view": {
                  "type": "object",
                  "properties": {
                    "player_id": {
                      "type": "number",
                      "example": 11
                    },
                    "name": {
                      "type": "string",
                      "example": "Josh Sharpe"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "stateprov": {
                      "type": "string",
                      "example": "IL"
                    },
                    "wppr_rank": {
                      "type": "number",
                      "example": 25
                    },
                    "wppr_points": {
                      "type": "number",
                      "example": 2131.11
                    },
                    "event_count": {
                      "type": "number",
                      "example": 110
                    },
                    "position": {
                      "type": "number",
                      "example": 1
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/series/list": {
      "get": {
        "tags": [
          "series"
        ],
        "summary": "Get a list of regions that are being tracked",
        "description": "Get a list of regions that are being tracked",
        "operationId": "seriesList",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "series": {
                  "type": "string",
                  "example": "NACS"
                },
                "title": {
                  "type": "string",
                  "example": "North American Championship Series"
                },
                "years": {
                  "type": "number",
                  "example": 2024
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_code}/regions": {
      "get": {
        "tags": [
          "series"
        ],
        "summary": "List of Regions within a specific Series",
        "description": "List of Regions within a specific Series",
        "operationId": "seriesRegions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "series_code",
            "in": "path",
            "description": "Code for the Series",
            "required": true,
            "type": "string",
            "enum": [
              "NACS",
              "WNACSO",
              "WNACSW",
              "ACS"
            ]
          },
          {
            "name": "year",
            "in": "query",
            "description": "Speific Year for the Series (defaults to current year)",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "year": {
                  "type": "number",
                  "example": 2024
                },
                "series_code": {
                  "type": "string",
                  "example": "NACS"
                },
                "active_regions": {
                  "type": "object",
                  "properties": {
                    "region_name": {
                      "type": "string",
                      "example": "Ohio"
                    },
                    "region_code": {
                      "type": "string",
                      "example": "OH"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_code}/player_card/{player_id}": {
      "get": {
        "tags": [
          "series"
        ],
        "summary": "Get the tournaments for a player for a given region",
        "description": "Get the tournaments for a player for a given region",
        "operationId": "seriesPlayersCard",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "series_code",
            "in": "path",
            "description": "Code for the Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "player_id",
            "in": "path",
            "description": "Player ID to fetch",
            "required": true,
            "type": "number"
          },
          {
            "name": "year",
            "in": "query",
            "description": "Which year of the series to lookup (default is current year)",
            "required": false,
            "type": "number"
          },
          {
            "name": "region_code",
            "in": "query",
            "description": "Which region to get the player's card from (e.g. OH)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "series_code": {
                  "type": "number",
                  "example": "NACS"
                },
                "region_code": {
                  "type": "string",
                  "example": "IL"
                },
                "year": {
                  "type": "number",
                  "example": 2024
                },
                "player_id": {
                  "type": "number",
                  "example": 4
                },
                "player_name": {
                  "type": "string",
                  "example": "Josh Sharpe"
                },
                "player_card": {
                  "type": "object",
                  "properties": {
                    "tournament_id": {
                      "type": "number",
                      "example": 123
                    },
                    "tournament_name": {
                      "type": "string",
                      "example": "IFPA World Championships"
                    },
                    "event_name": {
                      "type": "string",
                      "example": "Main Tournament"
                    },
                    "event_end_date": {
                      "type": "string",
                      "example": "2024-05-01T00:00:00.000Z"
                    },
                    "wppr_points": {
                      "type": "number",
                      "example": 1711.11
                    },
                    "region_event_rank": {
                      "type": "number",
                      "example": 14
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_code}/region_reps": {
      "get": {
        "tags": [
          "series"
        ],
        "summary": "Get the players who are representives for a given region",
        "description": "Get the players who are representives for a given region",
        "operationId": "seriesRegionReps",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "series_code",
            "in": "path",
            "description": "Code for the Series",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "series_code": {
                  "type": "number",
                  "example": "NACS"
                },
                "representative": {
                  "type": "object",
                  "properties": {
                    "player_key": {
                      "type": "number",
                      "example": 4
                    },
                    "name": {
                      "type": "string",
                      "example": "Josh Sharpe"
                    },
                    "region_code": {
                      "type": "string",
                      "example": "IL"
                    },
                    "region_name": {
                      "type": "string",
                      "example": "Illinois"
                    },
                    "profile_photo": {
                      "type": "string",
                      "example": "https://www.ifpapinball.com/images/profiles/players/4.jpg"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_code}/overall_standings": {
      "get": {
        "tags": [
          "series"
        ],
        "summary": "Get the overall standings for all regions of a series",
        "description": "Get the overall standings for all regions of a series",
        "operationId": "seriesRegionOverallStandings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "series_code",
            "in": "path",
            "description": "Code for the Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "description": "Which year of the series to lookup (default is current year)",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "series_code": {
                  "type": "string",
                  "example": "NACS"
                },
                "year": {
                  "type": "number",
                  "example": 2024
                },
                "overall_results": {
                  "type": "object",
                  "properties": {
                    "region_code": {
                      "type": "string",
                      "example": "IL"
                    },
                    "region_name": {
                      "type": "string",
                      "example": "Illinois"
                    },
                    "player_count": {
                      "type": "number",
                      "example": 10
                    },
                    "unique_player_count": {
                      "type": "number",
                      "example": 5
                    },
                    "tournament_count": {
                      "type": "number",
                      "example": 12
                    },
                    "current_leader": {
                      "type": "object",
                      "properties": {
                        "player_id": {
                          "type": "number",
                          "example": 4
                        },
                        "player_name": {
                          "type": "string",
                          "example": "Josh Sharpe"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_code}/standings": {
      "get": {
        "tags": [
          "series"
        ],
        "summary": "Get the standings for a series region",
        "description": "Get the standings for a series region",
        "operationId": "seriesRegionRegionStandings",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "series_code",
            "in": "path",
            "description": "Code for the Series",
            "required": true,
            "type": "string"
          },
          {
            "name": "year",
            "in": "query",
            "description": "Which year of the series to lookup (default is current year)",
            "required": false,
            "type": "number"
          },
          {
            "name": "region_code",
            "in": "query",
            "description": "Code of the region for the standings to be returned",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "properties": {
                "series_code": {
                  "type": "string",
                  "example": "NACS"
                },
                "region_code": {
                  "type": "string",
                  "example": "OH"
                },
                "region_name": {
                  "type": "string",
                  "example": "Ohio"
                },
                "prize_fund": {
                  "type": "number",
                  "example": 1251.12
                },
                "year": {
                  "type": "number",
                  "example": 2024
                },
                "standings": {
                  "type": "object",
                  "properties": {
                    "series_rank": {
                      "type": "number",
                      "example": 5
                    },
                    "player_id": {
                      "type": "number",
                      "example": 4
                    },
                    "player_name": {
                      "type": "string",
                      "example": "Josh Sharpe"
                    },
                    "city": {
                      "type": "string",
                      "example": "Chicago"
                    },
                    "stateprov_code": {
                      "type": "string",
                      "example": "IL"
                    },
                    "country_code": {
                      "type": "string",
                      "example": "US"
                    },
                    "country_name": {
                      "type": "string",
                      "example": "United States"
                    },
                    "wppr_points": {
                      "type": "number",
                      "example": 1234.56
                    },
                    "event_count": {
                      "type": "number",
                      "example": 20
                    },
                    "win_count": {
                      "type": "number",
                      "example": 3
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/series/{series_code}/stats": {
      "get": {
        "tags": [
          "series"
        ],
        "summary": "Get the stats for a series region",
        "description": "Get the stats for a series region",
        "operationId": "seriesRegionRegionStats",
[...]
